.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-indicator {
  position: fixed;
  top: 90%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1001;
}

.scroll-indicator .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  transition: background-color 0.3s;
}

.scroll-indicator .dot.active {
  background-color: black;
}
