.works-heading {
    font-weight: 800;
    font-size: 96px;
    margin: 0;
    margin-top: -50px;
}

.section1-oneline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
}

.works-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.works-container::-webkit-scrollbar {
    display: none;
}

.work {
    flex: 0 0 auto;
    min-width: 300px;
    max-width: 300px;
    height: 500px;
    background-color: #f9f9f9;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px 40px;
    cursor: pointer;
    transition: all 0.4s ease;
    scroll-snap-align: start;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work.expanded {
    min-width: 600px;
    max-width: 600px;
    background-color: #e0e0e0;
}

.work-duration {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 18px;
    font-weight: bold;

    border: #000 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
}

.work-bottominfo {
    margin-top: auto;
}

.work-name {
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
}

.work-tech {
    font-size: 18px;
    margin-top: 6px;
}

.works-scroll-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    overflow-x: scroll;
}

.scroll-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
    z-index: 10;
    padding: 10px;
    transition: color 0.3s ease;
}

.scroll-icon:hover {
    color: #555;
}

.scroll-icon.left {
    margin-right: 10px;
}

.scroll-icon.right {
    margin-left: 10px;
}

.works-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.section2-headingtypo {
    font-size: 64px;
    font-weight: 600;
    border-bottom: #000 1px solid;
    padding-bottom: 20px;
}

.section2-oneline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: -300px;
    margin-top: -130px;
}

.section2-fontnamemain {
    font-size: 150px;
    font-weight: 400;
    background-color: #E1F1FF;
    width: 600px;
    border-right: #4077DE 5px solid;
}

.section2-fontname {
    font-size: 150px;
    font-weight: 400;
}

.section2-explanation {
    margin-top: 50px;
    text-align: center;
    width: 50%;
}

.workflow-oneline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.workflow-heading {
    background-color: transparent;
    border: #000 2px solid;
    border-radius: 200px;
    font-size: 96px;
    padding: 0px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.workflow-heading:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}

.workflow-container {
    border: #000 2px solid;
    padding: 50px;
    border-radius: 50px;
    margin-bottom: -50px;
}

.workflow-explanation {
    font-size: 20px;
    width: 70%;
}

.workflow-title {
    font-weight: 700;
    font-size: 96px;
}